@import url("reset.css");

body {
    font-size: 14px;
    line-height: 1.2;
    color: #000;

    background: fixed linear-gradient(transparent, #fff 90%),
        fixed repeating-linear-gradient(#efefef,
            #efefef 1px,
            transparent 1px,
            transparent 40px),
        fixed repeating-linear-gradient(to right,
            #efefef,
            #efefef 1px,
            transparent 1px,
            transparent 40px) white;
}

.wrapper {
    overflow: clip;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

.block-header {
    text-align: center;
    font-weight: 500;

    p {
        text-transform: uppercase;
        color: #00B207;
    }

    h2 {
        font-size: 30px;
    }
}

.block-header--margin {
    margin-bottom: 36px;
}

.shop {
    font-size: 14px;
    font-weight: 600;
    color: #00B207;
    /* padding: 14px 32px; */
    width: 162px;
    height: 45px;
    background-color: #fff;
    border-radius: 43px;
    border: 1px solid transparent;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    transition: border .3s ease;
}

.shop::after {
    content: '';
    background: url(../img/arrow-gr.svg) 0 50% no-repeat;
    width: 20px;
    height: 15px;
}

@media (any-hover: hover) {
    .shop:hover {
        border: 1px solid #00B207;
    }
}

[class*="__container"] {
    max-width: 1350px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*              Banners             */
.hero {
    padding: 30px 0;
}

.hero__items {
    display: flex;
    gap: 24px;
}
.hero__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero__item-big {
    flex-grow: 1;
    flex-basis: 872px;
    aspect-ratio: 872 / 600;
}
.items__body {
    display: flex;
    flex-direction: column;
    gap: 24px;

    flex-grow: 1;
    flex-basis: 423px;  
}
.hero__item-small {
    aspect-ratio: 423 / 288;
}
@media (max-width: 767.98px) {
    .hero__items {
        flex-wrap: wrap;
        gap: 10px;
    }
    .items__body {
        flex-direction: row;
        gap: 10px;
    }
    .hero__item-small{
        flex-grow: 1;
    }
}








/*              Banners             */
.banners {
    padding: 60px 0;
}

.banners__items {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(min(424px, 100%), 1fr)); */
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(clamp(11.25rem, 8.068rem + 15.91vw, 20rem), 1fr));
    /* але треба зменшувати паддінги */
}

/* @media (max-width: 870px) {
    .banners__items {
        grid-template-columns: repeat(2, 1fr);
    }
} 
@media (max-width: 600px) {
    .banners__items {
        grid-template-columns:repeat(auto-fill, minmax(min(424px, 100%), 1fr));
    }
}  */
.banners-item {
    position: relative;
    border-radius: 8px;
    text-align: center;
    padding: 15px 10px 10px 10px;
    aspect-ratio: 424 / 536;
}

.banners-item:not(:last-child) {
    color: #fff;
}

.banners-item__content {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.banners-item__subtitle {
    font-size: 14px;
    text-transform: uppercase;
}

.banners-item__info {
    flex-grow: 1;
}

.banners-item__info h4 {
    font-size: 40px;
    margin-bottom: 8px;
}

.banners-item__time {
    display: flex;
    justify-content: center;
    gap: 22px;
}

.banners-item__time>div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.banners-item__time>div:not(:last-child):before {
    position: absolute;
    content: ":";
    top: 12%;
    left: 40px;
}

.banners-item__time p {
    font-size: 24px;
}

.banners-item__time span {
    font-size: 12px;
    color: hsl(0, 0%, 80%);
    text-transform: uppercase;
}

.banners-item__link {
    margin-top: 8px;
    align-self: center;
}

.banners-item__start p,
.banners-item__sale p {
    font-size: 18px;
}

.banners-item__start span {
    font-size: 20px;
    color: #FF8A00;
    font-weight: 600;
}

.banners-item__sale {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.banners-item__sale span {
    color: #FCC900;
    padding: 6px 12px;
    background-color: #1a1a1a;
    border-radius: 5px;
}

.banners-item__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

@media (max-width: 1100px) {
    .banners__items {
        gap: 15px;
    }

    .banners-item__info h4 {
        font-size: 24px;
    }
}

/*              Category             */
.category {
    padding-top: 60px;
}

.category__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 24px;
}

.category__item {
    padding: 16px 5px 24px 5px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    border: 1px solid #e6e6e6;
}

.item-category__image {
    aspect-ratio: 190 / 130;
}

.item-category__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item-category__name {
    font-size: 18px;
    font-weight: 500;
}

/*              Featured             */
.featured {
    padding: 50px 0;
}

.featured__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(312px, 100%), 1fr));
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 24px;
}

/* @media (max-width: 900px) {
    .featured__items {
        grid-template-columns: repeat(3, 1fr); 
    }
}
@media (max-width: 650px) {
    .featured__items {
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media (max-width: 376px) {
    .featured__items {
        grid-template-columns: 1fr; 
    }
} */
.featured__item {
    border: 1px solid #e6e6e6;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.featured__content {
    padding: 0 20px 20px 20px;
}

.featured__content h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.featured__item a {
    aspect-ratio: 312 / 280;
}

.featured__item a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*          testimonial          */
.testimonial__wrapper {
    border-radius: 8px;
    background-color: #e6e6e6;
    padding: 60px;
}

.testimonial__items {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(min(384px, 100%), 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

}

.testimonial__item {

    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: #fff;
    padding: 24px;
}

@media (max-width: 1350px) {
    .testimonial__wrapper {
        padding: 20px;
    }
}

@media (max-width: 1042px) {
    .testimonial__items {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonial__content img {
        width: 80px;
    }
}

@media (max-width: 673px) {
    .testimonial__items {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    .testimonial__block-header h2 {
        font-size: 28px;
    }

    .testimonial__item {
        padding: 15px;
    }
}

.testimonial__vector {
    width: 32px;
    height: 26px;
}

.testimonial__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.people-testimonial {
    display: flex;
    gap: 12px;
    align-items: center;
}

.people-testimonial__image {
    flex: 0 0 56px;
}

.people-testimonial__info h4 {
    font-weight: 500;
}

.people-testimonial__info p {
    opacity: .5;
}

/*          sponsors          */
.sponsors {
    padding: 60px 0;
}

.sponsors__items {
    border: 1px solid #e6e6e6;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 67px;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
}

.sponsors__item {
    flex-grow: 0;
}

.sponsors__item:not(:last-child) {
    padding-right: 67px;
    border-right: 1px solid #e6e6e6;
}

@media (max-width: 1350px) {
    .sponsors__items {
        padding: 30px;
        column-gap: 30px;
    }
}

@media (max-width: 767.98px) {

    .sponsors__item:not(:last-child) {
        padding-right: 30px;
    }
}